*{
    background: whitesmoke;
}

h4{
    background: rgb(79, 153, 223);
}

#boton{
    background: cadetblue;
    color: white;
}

#tableimagen{
    border-color: turquoise;
}
table{
    border-color: turquoise;
}
#Notas{
    border-color: red;
}

